# dependencies installed by npm
node_modules

# build artefacts
public
css

# secrets and errors
.env
.log

# macOS related files
.DS_Store

# Obsidian System files and Templater files
_templates
.obsidian